<%- include("./plantillas/head.ejs") %>
    <link rel="stylesheet" href="/css/mainMisProductos.css">

<body>
    <%- include("./plantillas/nav.ejs") %>
    <%- include("./plantillas/barra_superior.ejs") %>
    <main>

        <% productos.forEach(element=>{ %>
            <form action="/producto" method="post">
                <label for="nombre" >Nombre: </label>
                <input type="text" name="nombre" disabled value="<%= element.nombre %>">
    
                <label for="descripcion" >Descripcion: </label>
                <input type="text" name="descripcion"  disabled value="<%= element.descripcion %>">
    
                <label for="precio" >Precio: </label>
                <input type="text" name="precio"  disabled value="<%= element.precio %>">
    
                <label for="imagen" >Imagen: </label>
                <input type="text" name="imagen"  disabled value="<%= element.img_url %>">
    
                <label for="categorias" >Categorias: </label>
                <input type="text" name="categorias" placeholder=""  disabled value="<%= element.Categorias %>"> 
    
                <label for="stock" >Stock: </label>
                <input type="number" name="stock"  disabled value="<%= element.stock %>">
    
                <button name="accion" value="eliminar">ELIMINAR</button>
                <button  id="editar" name="accion" value="editar">EDITAR</button>
                <input type="hidden" name="idProduc" value="<%= element.idProductos %>">
            </form>
            <% }) %>

        <button><a href="/agregar-producto">AGREGAR PRODUCTO NUEVO</a></button>

    </main>


<!--  -->
<!--  -->
<script src="/js/img_usuario.js"></script>
<!-- script_generales -->

<footer></footer>
</body>
<%- include("./plantillas/scripts_generales.ejs") %>
</html>
<!-- footer -->



