<%- include("./plantillas/head.ejs") %>
    <link rel="stylesheet" href="/css/mainPerfil.css">

<body>
    <%- include("./plantillas/nav.ejs") %>
    <%- include("./plantillas/barra_superior.ejs") %>
    <main>
        <form action="/editar-usuario" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" disabled name="nombre" value="<%= datosPerfil.nombre %>">

            <label for="usuario">Usuario:</label>
            <input type="text" disabled name="usuario" value="<%= datos.usuario %>">

            <label for="correo">Correo:</label>
            <input type="email" disabled name="correo" value="<%= datosPerfil.correo %>">

            <label for="contra">Contraseña:</label>
            <div>
                <input class="dato" type="password" id="contra" name="contra" required maxlength="45" minlength="8" value="<%= datosPerfil.contra %>">
                <i id="ojo" class="fa-solid fa-eye"></i>            
            </div>
            
            <label for="url_img">URL IMAGEN:</label>
            <input class="dato" type="text" id="url_imagen" name="url_img" maxlength="600" value="<%= datosPerfil.url_img %>">

            <button>GUARDAR</button>
        </form>

    </main>

<footer></footer>
</body>
    <%- include("./plantillas/scripts_generales.ejs") %>
<script src="/js/perfil.js"></script>
</html>
<!-- footer -->



